<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <services>
      <service name="Yellow.Server.Services.BizAgi.DisputeStatusUpdateService">
        <host>
          <baseAddresses>
            <add baseAddress="http://drops.ailleron.com:1122/DisputeStatusUpdateService"  xdt:Transform="Replace" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>