<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="App_NoddleDomainName" value="https://yellow-experimental.softwaremind.pl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleHostName" value="yellow-experimental.softwaremind.pl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_EnvironmentName" value="SM_Cat" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_EnvironmentDescriptor" value="NODDLESMCR" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxDomainName" value="https://yellow-experimental-halifax.softwaremind.pl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxHostName" value="yellow-experimental-halifax.softwaremind.pl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Service_DisplayPrefix" value="Yellow (SM_CAT_Experimental-1)" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Service_ServiceName" value="Yellow_SM_CAT_Experimental_1_Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Signup_ActivateAccountTokenValidForHours" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="SendCrNotifications_MaxNotSignedInDaysPeriod" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="C6Output_AlertsDirectory" value="d:\Yellow\SM_CAT_Experimental\C6\Output" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_AlertsInvalidDirectory" value="d:\Yellow\SM_CAT_Experimental\C6\OutputInvalid" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_ApiProviderServerUrl" value="https://leeds.ailleron.com:1586/C6/GenerateSummaryReports" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_PgpPrivateKeyDirectoryPath" value="d:\Yellow\SM_CAT_Experimental\C6" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="Kba_SentReminderForNotAnsweredKbaAfterHours" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ConfigEncryption_Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="Api_BaseAddress" value="http://localhost:1781/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="WebMonitoring_ApiProviderServerUrl" value="https://leeds.ailleron.com:1586/C6/DarkWebTransaction" xdt:Transform="Replace" xdt:Locator="Match(key)" />
</appSettings>