<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Yellow"
         connectionString="Data Source=toadie.ailleron.com;Initial Catalog=Yellow_SM_CAT;UID=yellow;pwd=california;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Yellow.Server.Services.BizAgi.DisputeStatusUpdateService">
        <host>
          <baseAddresses>
            <add baseAddress="http://leeds.ailleron.com:1761/DisputeStatusUpdateService"  xdt:Transform="Replace" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint xdt:Transform="Replace" xdt:Locator="Match(name)" address="https://bpmqa.callcreditgroup.com/CallcreditDev/WebServices/WorkflowEngineSOA.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="Yellow.Server.Jobs.DisputeProcessing.BizAgi.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
    </client>
  </system.serviceModel>
</configuration>