<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Yellow"
         connectionString="Data Source=toadie.ailleron.com;Initial Catalog=Yellow_SM_WIP_Phase2;UID=yellow;pwd=california;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" xdt:Transform="Replace">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\Yellow\SM_WIP_Phase2\Emails\"/>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="Replace" xdt:Locator="Match(name)" address="http://drops.ailleron.com:1521/bizagi/api" binding="basicHttpBinding" bindingConfiguration="HttpBindingConfiguration" contract="Yellow.Server.Jobs.DisputeProcessing.BizAgi.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
    </client>
  </system.serviceModel>
</configuration>