<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="App_EnvironmentName" value="SM_Integration" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_EnvironmentDescriptor" value="NODDLESMI" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleDomainName" value="https://noddle.integration.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleHostName" value="noddle.integration.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxDomainName" value="https://halifax.integration.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxHostName" value="halifax.integration.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="C6Output_ApiProviderServerUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ConfigEncryption_Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="WebMonitoring_ApiProviderServerUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
</appSettings>