<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="Service_DisplayPrefix" value="Yellow (SM_Integration-2)" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Service_ServiceName" value="Yellow_SM_Integration_2_Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Api_BaseAddress" value="http://localhost:1752/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
</appSettings>