<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="App_EnvironmentName" value="CL_Staging" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_EnvironmentDescriptor" value="NODDLECLS" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleDomainName" value="https://test.noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleHostName" value="test.noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleContactEmail" value="contact@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_NoddleDisputeEmail" value="dispute@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_NoddlePasswordEmail" value="password@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_NoddleNoReplyEmail" value="noreply@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_HalifaxDomainName" value="https://test.halifaxcreditchecker.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxHostName" value="test.halifaxcreditchecker.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxContactEmail" value="halifaxcontact@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_HalifaxDisputeEmail" value="dispute@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_HalifaxPasswordEmail" value="halifaxpassword@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_HalifaxNoReplyEmail" value="halifaxnoreply@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_RoyalMailDomainName" value="https://test.lovemyid.royalmail.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_RoyalMailHostName" value="test.lovemyid.royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_RoyalMailThawteRegisteredDomain" value="test.lovemyid.royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_RoyalMailContactEmail" value="subscriberservices@royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_RoyalMailDisputeEmail" value="dispute@test.lovemyid.royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_RoyalMailPasswordEmail" value="subscriberservices@royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_RoyalMailNoReplyEmail" value="noreply.test.lovemyid@royalmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="App_NationWideContactEmail" value="nationwidecontact@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="BizAgi_Domain" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="BizAgi_UserName" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="BizAgiUpdateServiceCredentials_UserName" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="BizAgiUpdateServiceCredentials_Password" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CreditReport_PasswordChangedAlertRecipients" value="NoddleSupport@callcreditgroup.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CreditReport_CredentialsSwitchedAlertRecipients" value="NoddleSupport@callcreditgroup.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallMonitor_SubscriptionsChangesDirectory" value="D:\CallMonitor\CC_Staging\Input" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallMonitor_AlertsDirectory" value="D:\CallMonitor\CC_Staging\Output" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallMonitor_AlertsBackupDirectory" value="D:\CallMonitor\CC_Staging\OutputBackup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallMonitor_SubscriptionsChangesBackupDirectory" value="D:\CallMonitor\CC_Staging\InputBackup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallValidate_ThinFileInputDirectory" value="D:\CallValidate\CC_Staging\ThinFileInput" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallValidate_ThinFileInputBackupDirectory" value="D:\CallValidate\CC_Staging\ThinFileInputBackup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallValidate_ThinFileOutputDirectory" value="D:\CallValidate\CC_Staging\ThinFileOutput" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CallValidate_ThinFileOutputBackupDirectory" value="D:\CallValidate\CC_Staging\ThinFileOutputBackup" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_AlertsDirectory" value="D:\C6\Noddle\Output" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_AlertsInvalidDirectory" value="D:\C6\Noddle\Failed" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_ApiProviderServerUrl" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_PgpPrivateKeyDirectoryPath" value="D:\C6\Noddle" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_PgpPrivateKeyFileName" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="C6Output_PgpPrivateKeyPassword" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="Sav_SenderEmailAddress" value="aquaCreditChecker@noddle.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="ConfigEncryption_Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="WorldPay_ServiceKey" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="Api_BaseAddress" value="http://localhost:18001/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="WebMonitoring_ApiProviderServerUrl" value="****" xdt:Transform="Replace" xdt:Locator="Match(key)" />
</appSettings>