<?xml version="1.0"?>
<job-scheduling-data xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
        xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.0">

  <schedule xdt:Transform="Replace">

    <job>
      <name>send-disputes-to-bizagi</name>
      <job-type>Yellow.Server.Jobs.DisputeProcessing.BatchDisputeProcessorJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-disputes-trigger</name>
        <job-name>send-disputes-to-bizagi</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>remind-users-to-activate</name>
      <job-type>Yellow.Server.Jobs.RemindActivation.RemindUsersToActivateJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>remind-users-to-activate-trigger</name>
        <job-name>remind-users-to-activate</job-name>
        <!--12:00 everyday-->
        <cron-expression>0 0 12 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-credit-report-notifications</name>
      <job-type>Yellow.Server.Jobs.SendCreditReportNotifications.SendCreditReportNotificationsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-credit-report-notifications-trigger</name>
        <job-name>send-credit-report-notifications</job-name>
        <!--7:00am everyday-->
        <cron-expression>0 0 7 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-web-watch-activation-reminder</name>
      <job-type>Yellow.Server.Jobs.SendWebWatchActivationReminder.SendWebWatchActivationReminderJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-web-watch-activation-reminder-trigger</name>
        <job-name>send-web-watch-activation-reminder</job-name>
        <!--2am everyday-->
        <cron-expression>0 0 2 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-invitations-to-sav-users</name>
      <job-type>Yellow.Server.Jobs.SendInvitationsToSavUsers.SendInvitationsToSavUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-invitations-to-sav-users-trigger</name>
        <job-name>send-invitations-to-sav-users</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-chasers-to-sav-users</name>
      <job-type>Yellow.Server.Jobs.SendChasersToSavUsers.SendChasersToSavUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-chasers-to-sav-users-trigger</name>
        <job-name>send-chasers-to-sav-users</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>sav-tokens-importer</name>
      <job-type>Yellow.Server.Jobs.ImportSavTokens.ImportSavTokensJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>sav-tokens-importer-trigger</name>
        <job-name>sav-tokens-importer</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>batch-operations</name>
      <job-type>Yellow.Server.Jobs.BatchOperations.BatchOperationsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>batch-operations-trigger</name>
        <job-name>batch-operations</job-name>
        <!--every 30m-->
        <cron-expression>0 0/30 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>clean-db</name>
      <job-type>Yellow.Server.Jobs.CleanDB.CleanDBJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>clean-db-trigger</name>
        <job-name>clean-db</job-name>
        <!--1am everyday-->
        <cron-expression>0 0 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>sav-premium-products-auto-renewal</name>
      <job-type>Yellow.Server.Jobs.PremiumProductsAutoRenewals.SavPremiumProductsAutoRenewal.SavPremiumProductsAutoRenewalJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>sav-premium-products-auto-renewal-trigger</name>
        <job-name>sav-premium-products-auto-renewal</job-name>
        <!--3am everyday-->
        <cron-expression>0 0 3 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>halifax-premium-products-auto-renewal</name>
      <job-type>Yellow.Server.Jobs.PremiumProductsAutoRenewals.HalifaxPremiumProductsAutoRenewal.HalifaxPremiumProductsAutoRenewalJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>halifax-premium-products-auto-renewal-trigger</name>
        <job-name>halifax-premium-products-auto-renewal</job-name>
        <!--3am everyday-->
        <cron-expression>0 0 3 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>ni-renewal-reminder</name>
      <job-type>Yellow.Server.Jobs.SendRenewalReminder.NoddleImprove.SendNIRenewalReminderJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>ni-renewal-reminder-trigger</name>
        <job-name>ni-renewal-reminder</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>na-renewal-reminder</name>
      <job-type>Yellow.Server.Jobs.SendRenewalReminder.NoddleAlerts.SendNARenewalReminderJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>na-renewal-reminder-trigger</name>
        <job-name>na-renewal-reminder</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>nww-renewal-reminder</name>
      <job-type>Yellow.Server.Jobs.SendRenewalReminder.NoddleWebWatch.SendNWWRenewalReminderJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>nww-renewal-reminder-trigger</name>
        <job-name>nww-renewal-reminder</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>tesco-create-tokens</name>
      <job-type>Yellow.Server.Jobs.CreateTescoTokens.CreateTescoTokensJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>tesco-create-tokens-trigger</name>
        <job-name>tesco-create-tokens</job-name>
        <!--every 15 minutes-->
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>create-CV-thin-file-validation-batch-file</name>
      <job-type>Yellow.Server.Jobs.CreateCVThinFileValidationBatchFile.CreateCVThinFileValidationBatchFileJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>create-CV-thin-file-validation-batch-file-trigger</name>
        <job-name>create-CV-thin-file-validation-batch-file</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <!--it is important, that process subscriptions runs just before close accounts job-->
    <!--because we now want to closed rmg accounts with cancelled subscription-->
    <!--we dont want to wait till next day with closing those-->
    <job>
      <name>process-subscriptions</name>
      <job-type>Yellow.Server.Jobs.ProcessSubscriptions.ProcessSubscriptionsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>process-subscriptions-trigger</name>
        <job-name>process-subscriptions</job-name>
        <!--3:00am everyday-->
        <cron-expression>0 0 3 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>close-accounts</name>
      <job-type>Yellow.Server.Jobs.CloseAccounts.CloseAccountsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>close-accounts-trigger</name>
        <job-name>close-accounts</job-name>
        <!--every 15 minutes-->
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>unsubscribe-from-cm</name>
      <job-type>Yellow.Server.Jobs.UnsubscribeFromCM.UnsubscribeFromCmJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>unsubscribe-from-cm-trigger</name>
        <job-name>unsubscribe-from-cm</job-name>
        <!--1:25am everyday-->
        <cron-expression>0 25 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>copy-consent-statements</name>
      <job-type>Yellow.Server.Jobs.CopyConsentStatementsFromUsers.CopyConsentStatementsFromUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>copy-consent-statements-trigger</name>
        <job-name>copy-consent-statements</job-name>
        <!--1:35am everyday-->
        <cron-expression>0 35 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-web-monitoring-no-alert</name>
      <job-type>Yellow.Server.Jobs.SendNoAlertNotification.SendWebMonitoringNoAlertNotification.SendWebMonitoringNoAlertNotificationJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-web-monitoring-no-alert-trigger</name>
        <job-name>send-web-monitoring-no-alert</job-name>
        <!--2:30am everyday-->
        <cron-expression>0 30 2 * * ? *</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>