<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="Service_DisplayPrefix" value="Yellow (CL_Staging-2)" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Service_ServiceName" value="Yellow_CL_Staging_2_Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
</appSettings>