<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="App_EnvironmentName" value="SM_Release_Phase2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_EnvironmentDescriptor" value="NODDLESMR" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleDomainName" value="https://phase2.noddle.release.drops.ailleron.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_NoddleHostName" value="phase2.noddle.release.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxDomainName" value="https://phase2.halifax.release.drops.ailleron.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="App_HalifaxHostName" value="phase2.halifax.release.drops.ailleron.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="C6Output_ApiProviderServerUrl" value="http://drops.ailleron.com:1541/C6/GenerateSummaryReports" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ConfigEncryption_Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="WebMonitoring_ApiProviderServerUrl" value="http://drops.ailleron.com:1541/C6/DarkWebTransaction" xdt:Transform="Replace" xdt:Locator="Match(key)" />
</appSettings>