<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <appender-ref ref="SmtpAppender" xdt:Transform="Insert"/>
  </root>
  <appender name="SmtpAppender" xdt:Locator="Match(name)">
    <subject value="[Yellow-error][SM_CAT_Experimental][Server]" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="AllLevelsSmtpAppender" xdt:Locator="Match(name)">
    <subject value="[Yellow-error][SM_CAT_Experimental][Server]" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="CallReportAppender" xdt:Locator="Match(name)">
    <param name="File" value="..\Logs\Server1\CallReport\Yellow.Server.CallReport.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="ApplicationServer" xdt:Locator="Match(name)">
    <param name="File" value="..\Logs\Server1\Yellow.ApplicationServer.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="ServiceBizagiAppender" xdt:Locator="Match(name)">
    <param name="File" value="..\Logs\Server1\Service_BizAgi\Yellow.Server.Service_BizAgi.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="BizAgiAppender" xdt:Locator="Match(name)">
    <param name="File" value="..\Logs\Server1\BizAgi\Yellow.Server.BizAgi.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="WebMonitoringAppender" xdt:Locator="Match(name)">
    <param name="File" value="..\Logs\Server1\WebMonitoring\Yellow.Server.WebMonitoring.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
</log4net>