<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <root>
    <appender-ref ref="SmtpAppender" xdt:Transform="Insert"/>
  </root>
  <appender name="SmtpAppender" xdt:Locator="Match(name)">
    <to value="NoddleSupport@callcreditgroup.com" xdt:Transform="SetAttributes(value)"/>
    <from value="errors@noddle.co.uk" xdt:Transform="SetAttributes(value)"/>
    <subject value="[Yellow-error][CL_Release][Server]" xdt:Transform="SetAttributes(value)"/>
    <smtpHost value="localhost" xdt:Transform="SetAttributes(value)"/>
    <filter>
      <MessageLimitsReachedNotificationRecipientEmail value="NoddleSupport@callcreditgroup.com" xdt:Transform="SetAttributes(value)"/>
      <MessageLimitsReachedNotificationFromEmail value="errors@noddle.co.uk" xdt:Transform="SetAttributes(value)"/>
    </filter>
  </appender>
  <appender name="AllLevelsSmtpAppender" xdt:Locator="Match(name)">
    <to value="NoddleSupport@callcreditgroup.com" xdt:Transform="SetAttributes(value)"/>
    <from value="errors@noddle.co.uk" xdt:Transform="SetAttributes(value)"/>
    <subject value="[Yellow-error][CL_Release][Server]" xdt:Transform="SetAttributes(value)"/>
    <smtpHost value="localhost" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="CallReportAppender" xdt:Locator="Match(name)">
    <param name="File" value="F:\Logs\Noddle\Server\CallReport\Yellow.Server.CallReport.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="ApplicationServer" xdt:Locator="Match(name)">
    <param name="File" value="F:\Logs\Noddle\Server\Yellow.ApplicationServer.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="ServiceBizagiAppender" xdt:Locator="Match(name)">
    <param name="File" value="F:\Logs\Noddle\Server\Service_BizAgi\Yellow.Server.Service_BizAgi.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="BizAgiAppender" xdt:Locator="Match(name)">
    <param name="File" value="F:\Logs\Noddle\Server\BizAgi\Yellow.Server.BizAgi.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <appender name="C6Appender" xdt:Locator="Match(name)">
    <param name="File" value="F:\Logs\Noddle\Server\C6\Yellow.Server.C6.log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
  </appender>
  <logger name="MultiLogger" xdt:Locator="Match(name)">
    <appender-ref ref="AllLevelsSmtpAppender" xdt:Transform="Insert"/>
  </logger>
  <logger name="NHibernate" xdt:Locator="Match(name)">
    <level value="OFF" xdt:Transform="SetAttributes(value)"/>
  </logger>
  <logger name="NHibernate.SQL" xdt:Locator="Match(name)">
    <level value="OFF" xdt:Transform="SetAttributes(value)"/>
  </logger>
  <logger name="C6Logger" xdt:Locator="Match(name)">
    <priority value="OFF" xdt:Transform="SetAttributes(value)" />
  </logger>
  <logger name="Yellow.Server.Services.BizAgi.DisputeStatusUpdateService_Logger" xdt:Locator="Match(name)">
    <priority value="OFF" xdt:Transform="SetAttributes(value)" />
  </logger>
</log4net>