<?xml version="1.0"?>
<job-scheduling-data xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
        xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.0">

  <schedule xdt:Transform="Replace">

    <job>
      <name>sav-tokens-importer</name>
      <job-type>Yellow.Server.Jobs.ImportSavTokens.ImportSavTokensJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>sav-tokens-importer-trigger</name>
        <job-name>sav-tokens-importer</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>batch-operations</name>
      <job-type>Yellow.Server.Jobs.BatchOperations.BatchOperationsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>batch-operations-trigger</name>
        <job-name>batch-operations</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>clean-db</name>
      <job-type>Yellow.Server.Jobs.CleanDB.CleanDBJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>clean-db-trigger</name>
        <job-name>clean-db</job-name>
        <!--1am everyday-->
        <cron-expression>0 0 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>close-accounts</name>
      <job-type>Yellow.Server.Jobs.CloseAccounts.CloseAccountsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>close-accounts-trigger</name>
        <job-name>close-accounts</job-name>
        <!--every minute-->
        <cron-expression>0 0/1 * * * ?</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>