<?xml version="1.0"?>
<job-scheduling-data xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
        xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.0">

  <schedule xdt:Transform="Replace">

    <job>
      <name>change-CallReport-password</name>
      <job-type>Yellow.Server.Jobs.ChangeCallReportPassword.ChangeSecondaryCredentialsPasswordJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>change-CallReport-password-trigger</name>
        <job-name>change-CallReport-password</job-name>
        <!--4:00am MON-FRI-->
        <cron-expression>0 0 4 ? * MON-FRI</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>change-TS-CallReport-password</name>
      <job-type>Yellow.Server.Jobs.ChangeCallReportPassword.ChangeSecondaryCredentialsPasswordJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>change-TS-CallReport-password-trigger</name>
        <job-name>change-TS-CallReport-password</job-name>
        <!--5:00am MON-FRI-->
        <cron-expression>0 0 5 ? * MON-FRI</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>switch-CallReport-credentials</name>
      <job-type>Yellow.Server.Jobs.SwitchCallReportCredentials.SwitchCallReportCredentialsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>switch-CallReport-credentials-trigger</name>
        <job-name>switch-CallReport-credentials</job-name>
        <!--4:10am MON-FRI-->
        <cron-expression>0 10 4 ? * MON-FRI</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>switch-TS-CallReport-credentials</name>
      <job-type>Yellow.Server.Jobs.SwitchCallReportCredentials.SwitchCallReportCredentialsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>switch-TS-CallReport-credentials-trigger</name>
        <job-name>switch-TS-CallReport-credentials</job-name>
        <!--5:10am MON-FRI-->
        <cron-expression>0 10 5 ? * MON-FRI</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>send-invitations-to-sav-users</name>
      <job-type>Yellow.Server.Jobs.SendInvitationsToSavUsers.SendInvitationsToSavUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>send-invitations-to-sav-users-trigger</name>
        <job-name>send-invitations-to-sav-users</job-name>
        <!--every full hour-->
        <cron-expression>0 0 0/1 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>clean-db</name>
      <job-type>Yellow.Server.Jobs.CleanDB.CleanDBJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>clean-db-trigger</name>
        <job-name>clean-db</job-name>
        <!--1am everyday-->
        <cron-expression>0 0 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>tesco-create-tokens</name>
      <job-type>Yellow.Server.Jobs.CreateTescoTokens.CreateTescoTokensJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>tesco-create-tokens-trigger</name>
        <job-name>tesco-create-tokens</job-name>
        <!--every 15 minutes-->
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>create-CV-thin-file-validation-batch-file</name>
      <job-type>Yellow.Server.Jobs.CreateCVThinFileValidationBatchFile.CreateCVThinFileValidationBatchFileJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>create-CV-thin-file-validation-batch-file-trigger</name>
        <job-name>create-CV-thin-file-validation-batch-file</job-name>
        <!--1:30am everyday-->
        <cron-expression>0 30 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>close-accounts</name>
      <job-type>Yellow.Server.Jobs.CloseAccounts.CloseAccountsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>close-accounts-trigger</name>
        <job-name>close-accounts</job-name>
        <!--1:50am everyday-->
        <cron-expression>0 50 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>read-cv-thin-file-output</name>
      <job-type>Yellow.Server.Jobs.ReadCallValidateThinFileOutput.ReadCallValidateThinFileOutputJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>read-cv-thin-file-output-trigger</name>
        <job-name>read-cv-thin-file-output</job-name>
        <!--4:20am everyday-->
        <cron-expression>0 20 4 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>unsubscribe-from-cm</name>
      <job-type>Yellow.Server.Jobs.UnsubscribeFromCM.UnsubscribeFromCmJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>unsubscribe-from-cm-trigger</name>
        <job-name>unsubscribe-from-cm</job-name>
        <!--1:25am everyday-->
        <cron-expression>0 25 1 * * ? *</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>copy-consent-statements</name>
      <job-type>Yellow.Server.Jobs.CopyConsentStatementsFromUsers.CopyConsentStatementsFromUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>copy-consent-statements-trigger</name>
        <job-name>copy-consent-statements</job-name>
        <!--1:35am everyday-->
        <cron-expression>0 35 1 * * ? *</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>