<?xml version="1.0"?>
<job-scheduling-data xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
        xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.0">

  <schedule xdt:Transform="Replace">
    
    <!--it is important, that process subscriptions runs just before close accounts job-->
    <!--because we now want to closed rmg accounts with cancelled subscription-->
    <!--we dont want to wait till next day with closing those-->
    <job>
      <name>process-subscriptions</name>
      <job-type>Yellow.Server.Jobs.ProcessSubscriptions.ProcessSubscriptionsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>process-subscriptions-trigger</name>
        <job-name>process-subscriptions</job-name>
        <!--3:00am everyday-->
        <cron-expression>0 00 3 * * ? *</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>close-accounts</name>
      <job-type>Yellow.Server.Jobs.CloseAccounts.CloseAccountsJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>close-accounts-trigger</name>
        <job-name>close-accounts</job-name>
        <!--every 15 minutes-->
        <cron-expression>0 0/15 * * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>unsubscribe-from-cm</name>
      <job-type>Yellow.Server.Jobs.UnsubscribeFromCM.UnsubscribeFromCmJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>unsubscribe-from-cm-trigger</name>
        <job-name>unsubscribe-from-cm</job-name>
        <!--1:25am everyday-->
        <cron-expression>0 25 1 * * ? *</cron-expression>
      </cron>
    </trigger>
    
    <job>
      <name>copy-consent-statements</name>
      <job-type>Yellow.Server.Jobs.CopyConsentStatementsFromUsers.CopyConsentStatementsFromUsersJob, Yellow.Server</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>copy-consent-statements-trigger</name>
        <job-name>copy-consent-statements</job-name>
        <!--1:35am everyday-->
        <cron-expression>0 35 1 * * ? *</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>